.bg-dark {
    background: #f00 !important;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
}
.card-title {
    height: 70px;
    padding-top: 13px;
    margin-bottom: 11px;
    color: #f00;
}

.lotto-text {
    color: #f00;
}

.border-inline {
    border-bottom: solid 3px #ffcccc;
    width: 100%;
    margin-left: 45px;
    margin-top: 10px;
}
